<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"tempo-tickets","style":{"spacing":{"padding":{"top":"var:preset|spacing|32","bottom":"var:preset|spacing|48"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group tempo-tickets" style="padding-top:var(--wp--preset--spacing--32);padding-bottom:var(--wp--preset--spacing--48)"><!-- wp:post-title {"level":1,"align":"wide"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
