@font-face{font-family:"Poppins";font-weight:400 700;font-style:normal;font-display:swap;src:local("Poppins")}
@font-face{font-family:"Montserrat";font-weight:400 700;font-style:normal;font-display:swap;src:local("Montserrat")}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Montserrat:wght@400;500;600;700&display=swap');
